<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=VEA795DB2.WORLD;User Id=eadev;Password=eadev"/>
	</connectionStrings>
	<appSettings>
		<add key="Schema" value="eadev"/>
		<add key="OutputFolder" value="C:\Temp"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
</configuration>
