<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- Cobos Scripting specific configuration -->
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<appSettings>
		<!-- List all referenced assemblies -->
		<add key="AssemblyReferences" value="mscorlib.dll System.Core.dll Cobos.Script.dll"/>
		<!-- List all paths where referenced assemblies can be found.  Semi colon delimited list, like the PATH environment variable -->
		<add key="AssemblyPaths" value=""/>
		<!-- Log level can be Error, Warning, Information, Debug -->
		<add key="LogLevel" value="Information"/>
		<!-- Debug level can be any integer in range 0..10 -->
		<add key="DebugLevel" value="0"/>
        <!-- Application name for log file -->
        <add key="LogName" value="Cobos.ScriptEngine"/>
        <!-- Log folder for saving logs -->
        <add key="LogFolder" value="C:\temp\logs"/>
	</appSettings>
</configuration>