<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <!--<add name="mysql" connectionString="Server=localhost;Database=Northwind;Uid=cobos;Pwd=password;" providerName="MySQL"/>-->
    <add name="oracle" connectionString="Data Source=localhost:1521/cad94.dev;User Id=northwind;Password=oracle" providerName="Oracle" />
  </connectionStrings>
</configuration>